.title{
    text-align:center;
}
.ul-polls-title {
   padding:20px; 
}

.ul-polls-title li{
    background: #cce5ff;
    margin: 5px;
    list-style:none;
    text-align:center;
    padding:10px;
}
.ul-polls-title li:hover{
    background:#D0CCFF;
    cursor:pointer;
}

.liMyPolls{
    visibility:hidden;
}

.liNewPoll{
    visibility: hidden;
}

.liMyPolls:hover{
    color:#000000;
    cursor:pointer;
}
